.App {
  text-align: center;
  background: url(images/DarthVadar_Dark.jpg) no-repeat center center fixed; 
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#jk-logo {
  height: 5vmin;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 6vmin;
  font-weight: bold;
  color: white;
}

.App-main {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #3AAFA9;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(8px + 1vmin);
  color: #FEFFFF;
}

a:link {
  color: #DEF2F1;
}
a:visited {
  color: #2B7A78;
}
a:hover {
  color: #FEFFFF;
}
a:active {
  color: #17252A;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
